
h1{
    display: flex;
    justify-content: center;

    color: orangered;
    font-size: 10em;
    margin: 0;
    border-top: 5px ;
    padding-top: 2px;
}
.container{
    display: flex;
    flex-direction: column;
    

}
.playername{
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
font-size: 3em;
color:orangered;

}
.player  {
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
img{
    height: 200px;
    width: 200px;

}
html{
    background-color:#B8E00D;
}

.button {
    display: flex;
    justify-content: space-between;
    
width :auto;
height: 40px;

    

}
.button1 {
    border-radius: 40%;
    box-shadow: 4px 2px 4px 2px red;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
    color: blue;
    
}